<h1>Cadastrar restaurante</h1>
<form [formGroup]="restauranteForm"  novalidate>
<div class="form-group" >
  
  <label for="descricao">Restaurante:</label>
  <input  class="form-control" formControlName="descricao" 
    placeholder="Informe a descrição" 
    required
  />


  <div class="form-group text-center">
    <input (click)="salvar(restauranteForm.value)" type="button" class="btn btn-success" value="Cadastrar" />
    <input [routerLink]="['/restaurantes']" type="button" class="btn btn-danger" value="Cancelar" />
  </div>
</div>
</form>

